<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
  </head>

  <body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
          </button>
	  <a class="brand" href="#"><%= name%></a>
	  <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#about">About</a></li>
	      <li><a href="/orders">orders</a></li>
	      <li><a href="#contact">Contact</a></li>
	    </ul>
          </div>
	</div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid heading">
	<div class="span12">
	  <h1><%= product_name %></h1>
	</div>
      </div>
      
<div class="row-fluid subheading">
<div class="span12">   
<p class="lead"><%= product_short_description %></p>
</div>
</div>

<div class="row-fluid pitch">
<div class="span5 offset1 video">
  <img class="img-polariod" src="img/480x300.gif">
</div>

<div class="span5 actions" ng-controller="OrdersCtrl">
  <div class="row fluid">
    <div class="span8 offset2">
      <div class="row-fluid statistics">
        <div ng-show="!error">
          <div class="span4">
            <div class="linediv-l">
              <h3>{{num_orders}}</h3> <p>backers</p>
            </div>
	  </div>
          <div class="span4">
            <div class="linediv-c">
              <h3>{{total_funded}}</h3> <p>of {{target}} <span class="currency">{{unit_symbol}}</span></p>
            </div>
          </div>
	  <div class="span4">
	    <div class="linediv-r">
	      <h3>{{days_left}}</h3> <p>days left</p>
	    </div>
	  </div>
        </div>
	<div ng-show="error">
	  <h3>{{error}}</h3>
	</div>
      </div>
    </div>
    <div class="row-fluid" ng-show="!error">
    <div class="span10 offset1">
      <div class="thermometer progress active">
	<div class="bar bar-success" ng-style="{'width': percentage_funded+ '%'}"></div>
	<div class="bar bar-warning" ng-style="{'width': (100-percentage_funded)+ '%'}"></div>
      </div>
    </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3 order">
	<a class="coinbase-button"
	   data-button-style="custom-large"
	   data-button-text="Preorder with bitcoin"
	   data-custom="Finished order"
	   data-code="<%= coinbase_preorder_data_code %>"
	   href="https://coinbase.com/checkouts/<%= coinbase_preorder_data_code %>">Preorder with Bitcoin</a>
      </div>
    </div>
  </div>
</div>


</div>

</body>


    

